*{
	margin:0px;
	padding:0px 7px;
}
body{
	background-color:black;
}

header{
	font-family: 'DynaPuff', cursive;
	display:flex;
	align-items:center;
	
}
.logo{
	padding:0 5px;
	
	
}

.logo img{
	
	width:130px;
	height:80px;
	margin-top:10px;
}

ul{
	text-transform:uppercase;
	display:flex;
	align-items:center;
	list-style:none;
	
}

ul li{
	display:flex;
	padding: 20 10px;
	margin-left:30px;
	color:white;
	font-weight:bold;
	
}
ul li a{
	text-decoration:none;
	color:white;
	font-size:15px;
	
}
ul li a:hover{
	color:orange;
	font-weight:bold;
}

.btn{
	width:100px;
	height:40px;
	
	text-align:center;
	font-family:DynaPuff;
	font-size:15px;
	font-weight:bold;
	border-radius:7px;
	background-color:#14a5b3;
	margin-left:600px ;
}
a{
	text-decoration:none;
	color:black;
}

}
.image{
	
	margin-left:20px;
	
	
	
}
.image:hover {
  transform: scaleX(-1);
}
.column{
	float:left;
}
h1{
	display:flex;
	color:white;
	margin-left:200px;
	margin-top:100px;
	word-spacing:7px;
	letter-spacing:2px;
	font-size:60px;
	font-family: 'Poppins', sans-serif;
}
#heading{
	color:#13946b;
	margin-top:0px;
	letter-spacing:2px;
	font-family:ğ“¡ğ“ªğ“²ğ“·ğ“«ğ“¸ğ”€; 
}
p{
	color:white;
	margin-left:200px;
	margin-top:50px;
	font-size:25px;
}
.container{
	width:100%;
	height:500px;
	background:white;
	border-radius:50px;
}

h2{
	color:#138b94;
	margin-left:200px;
	margin-top:100px;
	font-size:40px;
	
}
img{
	margin-top:100px;
}
#me{
	color:black;
}
h3{
	text-transform:uppercase;
	margin-left:200px;
	margin-top:10px;
}
.hello{
	margin-top:-80px;
	margin-left:200px;
}
h4{
	color:#13946b;
	margin-top:50px;
	text-align:center;
	font-size:30px;
}
